<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default suite">
  <test verbose="2" name="Default test" preserve-order="false">
    <classes>
      <class name="PopplePages.PoppleHomePage"/>
      <class name="PoppleTestCases.ReportGenerateTest"/>
      <class name="PopplePages.StoryPages"/>
      <class name="PopplePages.CatagoriesPage"/>
      <class name="PoppleTestCases.CatagoriesPageTestCasesTest"/>
      <class name="Thepopple.Thepopple.App"/>
      <class name="PoppleUtils.ReadPropertiesFilesPopple"/>
      <class name="PoppleTestCases.ReadingHARdataTest"/>
      <class name="PopplePages.FooterOptionsPages"/>
      <class name="PoppleTestCases.HomePageTestCasesTest"/>
      <class name="PoppleUtils.WrapperGenericMethod"/>
      <class name="PoppleTestCases.StoryPageTestCasesTest"/>
      <class name="PoppleTestCases.FooterOptionTestCasesTest"/>
      <class name="PopplePages.CaptureHttpsTraffic"/>
      <class name="PoppleTestCases.CaptureAndParsingHarFileForPixPngTest"/>
    </classes>
  </test>
</suite>